{% extends 'counselapp/base.html' %}

{% block content %}
{% load static from staticfiles %}
<div class="col-md-6">
<img src="{% static 'img/logo.png' %}">

<div class="row counseldiv">
{% if loggedout %}
<div>
Logged out successfully.
</div>
{% endif %}

{% if expired %}
<div>
Your registration key is expired. Please try signing up again.
</div>
{% endif %}

{% if expired %}
<div>
You have successfully registered for an account. Go ahead and log in.
</div>
{% endif %}

{% if username %}
<div>
Logged in as {{ username }}
</div>
{% endif %}
</div>

<div class="row counseldiv">
{% if not has_account %}
	<div class="col-md-3">
	<a href="/login" class="btn btn-default">Log In</a>
	</div>
{% else %}
	<div class="col-md-3">
	<a href="/logout" class="btn btn-default">Log Out</a>
	</div>
{% endif %}
	<div class="col-md-3">
	<a href="/signup" class="btn btn-default">Sign up</a>
	</div>
{% endblock %}
</div>
</div>